#ide1,
#ide2,
#ide3,
.article_sections_divED {
    border-radius: 0.3em;
    border: 0.05em solid rgba(45, 53, 98, 0.5);
    background-color: #AEBFCD;
    margin: 1em 0;
}

/* */

.credits ul {
    display: flex;
    flex-basis: 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.credits li {
    overflow: hidden;
    word-break: break-all;
    max-width: 16%;
    min-height: 1.5em;
    min-width: 150px;
    text-align: center;
}

.credits p {
    font-size: 0.7em;
    color: #AEBFCD;
    text-align: center;
}

.credits img {
    width: 9vw;
    margin: 0.5em;
    border-radius: 50%;
    border: solid rgba(45, 53, 98, 0.5);
    padding: 0;
}

article header li div {
    text-align: center;
}

#experience_maps ol {
    list-style-type: none;
    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#experience_maps li {
    width: 33%;
}


#experience_maps li img {
    width: 100%;
    border-radius: 0.2em;
    transform: rotate(90deg);
}

#brugerundersoegelse h4{
    text-align: inherit;
}

#interviews ol {
    list-style: decimal;
    padding: 1em;
}

#interviews li {
    padding: 0.3em;
}

#persona p {
    margin: 0;
}

#persona section p {
    margin: 0 0 1em;
}

#persona section {
    padding: 0;
}

#persona section h1 {
    font-size: 1.1em;
}

#persona #persona_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#persona .persona_asger {
    width: 37vw;
    height: 27vw;
    background-size: 100%;
    margin: 1em 0 1em 0;
    background-image: url(images/persona_asger.jpg);
    background-repeat: no-repeat;
}

#persona .persona_carsten {
    width: 37vw;
    height: 27vw;
    background-size: 100%;
    margin: 1em 0 1em 0;
    background-image: url(images/persona_carsten.jpg);
    background-repeat: no-repeat;
}

#virksomhedsbeskrivelse .vaerdier_wrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#virksomhedsbeskrivelse ul {
    padding: 1em;
}

#interview ul {
    list-style-type: disc;
    margin: 1em 0 0 2em;
    text-transform: uppercase;
}

#interview ul li {
    font-weight: bold;
}

#interview ul li li {
    font-weight: normal;
    text-transform: none;
}

#interview ul ul {
    list-style-type: circle;
    margin: 0.5em 0 1em 1em;
}

#design_charette ol {
    list-style-type: none;
    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#design_charette li {
    width: 50%;
}


#design_charette li img {
    width: 100%;
    border-radius: 0.2em;
}

#design_charette #brainstorm_img{
    transform: rotate(90deg);

}

#ide_grundlag ul {
    list-style-type: disc;
    margin: 1em 0 0 2em;
}

#idegrundlag ul li {
    list-style-type: circle;
}

#ide_grundlag ul li li {
    list-style-type: circle;

}

#ide_grundlag ul li ul {
    margin: 0.5em 0 1em 1em;
}

#ide_grundlag,
#kantinen_video {
    padding: 0;
}

#koncept_praktik ol {
    margin: 1em 0 1em 2em;
    list-style-type: decimal;
}

.table_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
    overflow-x: scroll;
}

table {
    empty-cells: hide;
    width: 100%;
    font-size: 0.8em
}

table td {
    border: 1px solid rgb(230, 230, 230);
    padding: 0.2em;
}

.indent {
    text-indent: 3em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}

article img {
    width: 100%;
}

/*
#storyboard img {
    width: 80vw;

}
*/
