article {
    margin: 1em auto;
    padding: 1em;
}

.article_sections_divED {
    border-radius: 0.3em;
    border: 0.2em solid rgba(214, 90, 89, 0.5);
    background: rgb(234, 80, 69);
    margin: 1em 0;
}

img {
    width: 220px;
}

#logo {
    position: relative;
    left: 30vw;
}

#app_container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#app_navn {
    font-size: 4em;
    text-align: center;
    padding: 0;
}

#fordele_benefits ul {

    list-style-type: disc;
    margin: 1em 0 0 2em;
    font-weight: bold;
}
